
@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brigho</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords" content="bootstrap, mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32">
    <link rel="shortcut icon" href="assets/img/favicon.png">
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->
    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
             
        </div>
        <div class="pageTitle">
            Privacy
        </div>
        <div class="right">
            
        </div>
    </div>
    <!-- * App Header -->
    <!-- App Capsule -->
    <div id="appCapsule">
          
        <div class="section mt-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <p>
                        Brigho is a financial intermediary firm registered with RCxxxxxx under Nigeria Law with the Corporate
                        Affairs Commission. We can sue and be sued by our clients in cases of breach of contracts between us
                        and our clients.  We function as a middleman between a Buyer(s) and Seller(s). Brigho plays the role
                        of an intermediary in a distribution or transaction chain and we facilitate interaction between the
                        involved parties. We specialize in performing crucial activities involved in the purchase and sale of
                        goods in their flow from producers to the ultimate buyers.

                    </p>
                    <p>
                        We are not a haulage company and under no circumstances do not handle goods/items on behalf of any Buyer or
                        Seller.
                        <ul>
                            <li>
                                Price of the good/item the Seller is willing to sell and the Buyer is equally willing to buy; and
                            </li>
                            <li>
                                Cost of transportation/shipping/delivery of the good/item in question
                            </li>
                        </ul>
                    </p>
                    <p>
                        <strong class="section-title color-green-dark">
                            Who May Use Our Services?
                        </strong>
                    </p>
                    <p>
                        <ul>
                            <li>
                                Anyone within Nigeria who is willing to Sell or send goods/items to a Buyer
                            </li>
                            <li>
                                Anyone within Nigeria who is willing to Buy or receive goods/items from a Seller
                            </li>
                            <li>
                                Anyone within Nigeria who is above the age of 18 years
                            </li>
                        </ul>
                    </p>
                    <p>
                        <strong class="section-title color-green-dark">
                            Service We Render
                        </strong>
                    </p>
                    <p>
                        Brigho serves as an intermediary between two or more people who have agreed between and among themselves
                        to carry out a financial transaction for the exchange or a good/item. We receive money from the potential
                        Buyer, safe-keep the money in our custody for both the Buyer and the Seller. Only when both the Seller
                        the Buyer complete the transaction do we send money for the good/item to the Seller. When the transaction
                        cannot be completed between the Seller and the Buyer for whatever reason, money sent by the Buyer to Brigho
                        for the purchase of the good/item is sent back to the Buyers account.
                        <span class="color-blue-light">
                            For this service we take a small commission of 2.5% on every successful sale.
                        </span>
                    </p>
                    <p>
                        Brigho thus operates a functional warehousing account through which a Seller and a Buyer unknown to one
                        another can successfully transact a business. We provide trust and assurance between two or more unknown
                        parties who are interested in carrying out a transaction thus enabling and encouraging Nigerians to sell
                        their goods/items.
                    </p>
                    <p>
                        We protect both the Buyer and the Seller from loss of funds particularly in cases where neither know themselves
                    </p>
                    <p>
                        <strong class="section-title color-green-dark">
                            Financial Breach of Contract Between the Seller and the Buyer
                        </strong>
                    </p>
                    <p>
                        <ul>
                            <li>
                                In the event that upon sending the good/item, the Seller decides S/he no longer wants to
                                consummate the transaction (for whatever reason), the total sum of money paid to Brigho by
                                the Buyer for the purchase of the good/item shall be returned to the Buyer without any exception(s).
                            </li>
                            <li>
                                In the event that upon receipt of the good/item, the Buyer decides S/he no longer wants to
                                consummate the transaction (for whatever reason), the total sum of money paid to Brigho by the Buyer
                                for the purchase of the good/item shall be returned to the Buyer less the cost of transportation and
                                the mandatory commission paid to Brigho
                            </li>
                            <li>
                                In the event the Buyer is not willing to consummate the transaction upon receipt of the good/item,
                                the agreed cost of transportation/shipping/delivery (between the Seller and the Buyer) shall be sent
                                to the Seller.
                            </li>
                        </ul>
                    </p>
                    <p>
                        <strong class="section-title color-green-dark">
                            Disclaimers and Limitations of Liability
                        </strong>
                    </p>
                    <p>
                        Brigho is only liable for money sent to us by our clients and kept in our custody and we can be
                        entrusted with safe-keeping your hard-earned money. We understand that this is not our money but money
                        meant either for the Buyer or/and the Seller. To this end we go to great lengths to ensure these monies
                        are kept in the safest possible way
                    </p>
                    <p>
                        However, Brigho is not liable for any good/item being sent or purchased between the Buyer and the Seller.
                        This particularly so because we do not inspect good/item neither do we transport/ship/deliver good/item
                        because we are not a haulage company. Liability on all goods/items is left in the hands of the Buyer and the
                        Seller.
                    </p>
                    <p>
                        We therefore advice all Buyers to be completely satisfied with goods/items they receive from a Seller before
                        instructing Brigho to conclude a transaction. Brigho will not refund any money or goods/items after a
                        concluding confirmation has been received from either party.
                    </p>
                    <p>
                        <strong class="section-title color-green-dark">
                            Privacy & Security
                        </strong>
                    </p>
                    <p>
                        Brigho assures that our clients’ money is kept safe until the transaction has been consummated after which
                        money is sent to the various parties in percentages and amount pre agreed.
                    </p>
                    <p>
                        Brigho does not disclose the name, details or information of clients to anyone. However, as a registered
                        company, should there be need for an investigation on any of our clients such details may be released to Law
                        enforcement agencies carrying out any investigation.
                    </p>
                    <p>
                        <strong class="section-title color-green-dark">
                            Indemnity
                        </strong>
                    </p>
                    <p>
                        Brigho being a registered company under Nigeria Laws is an entity that can sue and can be sued. To this end,
                        the following situations are cases where Brigho shall not take responsibilities for losses
                    </p>
                    <p>
                        <ul>
                            <li>
                                In order to complete a transaction, the Buyer MUST enter the Delivery Code into the Brigho app.<span class="color-blue-light">
                                    Therefore,
                                    it is the responsibility of the Seller and Buyer to ensure that the Buyer inputs the Delivery Code into the
                                    Brigho app before releasing the goods/items to the Buyer
                                </span>. Brigho will not take responsibility for situations
                                where the goods are released to the Buyer without the delivery code being used.
                            </li>
                            <li>
                                Users are expected to secure their accounts with Brigho by ensuring that they keep their passwords secret
                                to themselves only. Although, Brigho being a responsible organization will ensure it deploys all
                                international technologies and standards in securing your accounts, however, we will not be liable in
                                cases of account hacking or revealing of passwords by our clients.
                            </li>
                            <li>
                                Brigho assures that our clients’ money is kept safe until the transaction has been consummated after which
                                money is sent to the various parties in percentages and amount pre agreed.
                            </li>
                        </ul>

                    </p>
                </div>
            </div>
        </div>
         
    </div>
    <!-- * App Capsule --> 
    <!-- * App Bottom Menu -->
    <!-- ///////////// Js Files ////////////////////  -->
    <!-- Jquery -->
    <script src="assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="assets/js/lib/popper.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <!-- Ionicons -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <!-- Owl Carousel -->
    <script src="assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js"></script>


</body>

</html>
 