@{
    ViewData["Title"] = "Home Page"; 
}

 
 
    
    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section">
            <div class="splash-page mt-5 mb-5">
                <div class="iconbox mb-3">
                    <ion-icon name="finger-print-outline"></ion-icon>
                </div>
                <h2 class="mb-2">Brigho Hold In Trust</h2>
                <p>
                    You just recovered from an error problably due to slow or no internet connection
                </p>
            </div>
        </div>

        <div class="fixed-bar">
            <div class="row"> 
                <div class="col-12">
                    <a href="/admin" class="btn btn-lg btn-outline-primary btn-block">
                        <div class="in">
                            <div>Let's Start Again</div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>

        <!-- Iconed Action Sheet -->
        <div class="modal fade action-sheet" id="actionSheetBuyerIconed" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="action-sheet-content">
                            <div class="iconbox text-primary">
                                <ion-icon name="finger-print"></ion-icon>
                            </div>
                            <div class="text-center p-2">
                                <h3>I'm a Buyer</h3>
                            </div>
                            <a href="/buyer" class="btn btn-primary btn-lg btn-block">Verify Transaction</a> <hr />
                            <a href="/buyer/verify" class="btn btn-primary btn-lg btn-block">Delivery Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- * Iconed Action Sheet -->
        <!-- Iconed Action Sheet -->
        <div class="modal fade action-sheet" id="actionSheetSellerIconed" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="action-sheet-content">
                            <div class="iconbox text-primary">
                                <ion-icon name="finger-print"></ion-icon>
                            </div>
                            <div class="text-center p-2">
                                <h3>I'm a Seller</h3>
                            </div>
                            <a href="/seller" class="btn btn-primary btn-lg btn-block">New Transaction</a><hr />
                            <a href="/seller/status" class="btn btn-primary btn-lg btn-block">Transaction Status</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- * Iconed Action Sheet -->


    </div>
    <!-- * App Capsule -->
    