@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["PageTitle"] = "New Transaction";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}
<style>
    .hidden {
        display: none;
    }
</style>
<!-- App Capsule -->
<!-- Wallet Card -->
<div class="section wallet-card-section pt-1">
    <div class="wallet-card">
        <!-- Balance -->
        <div class="balance">
            <div class="left">
                <h2><span class="title">BUYER</span></h2>
                <h1 class="total">DASHBOARD</h1>
            </div>
            <div class="right">
                @*<a href="/buyer/followup" class="button">
                        <ion-icon name="add-outline"></ion-icon>
                    </a>*@
            </div>
        </div>
        <!-- * Balance -->
    </div>
</div>

<!-- Transactions -->
<!-- Transactions -->
<div class="section mt-4">
    <div class="section-heading">
        <h2 class="title">Transactions</h2>
        @*<a href="app-transactions.html" class="link">View All</a>*@
    </div>

    <div class="spinner-grow text-warning text-center" id="veriSpinner" role="status"></div>
    <ul class="nav nav-tabs lined" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#overview2" role="tab">
                View All
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#inprogress" role="tab">
                In Progress
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#completed" role="tab">
                Completed
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#canceled1" role="tab">
                Canceled
            </a>
        </li>
    </ul>
    <div class="tab-content mt-2">
        <div class="tab-pane fade show active" id="overview2" role="tabpanel">
            <div class="transactions">

            </div>
        </div>
        <div class="tab-pane fade" id="inprogress" role="tabpanel">
            <div class="transactions">

            </div>
        </div>
        <div class="tab-pane fade" id="completed" role="tabpanel">
            <div class="transactions">

            </div>
        </div>
        <div class="tab-pane fade" id="canceled1" role="tabpanel">
            <div class="transactions">

            </div>
        </div>
    </div>


</div>
<!-- * Transactions -->
<!-- * Transactions -->
<!-- app footer -->
<div class="appFooter">
    <div class="footer-title">
        Copyright © Brigho @DateTime.Now.Year. All Rights Reserved.
    </div>
    Holding your transaction in trust.
</div>
<!-- * app footer -->
<!-- * App Capsule -->
<!-- App Bottom Menu -->
<div class="appBottomMenu">
    <a href="/seller" class="item">
        <div class="col">
            <i class="icon ion-md-contacts"></i>
            <strong>Seller</strong>
        </div>
    </a>
    <a href="/buyer" class="item active">
        <div class="col">
            <i class="icon ion-ios-contacts"></i>
            <strong>Buyer</strong>
        </div>
    </a>
</div>
<!-- * App Bottom Menu -->
<!-- DialogIconedDanger -->
<div class="modal fade dialogbox" id="DialogIconedDanger" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-icon text-danger">
                <ion-icon name="close-circle"></ion-icon>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
            </div>
            <div class="modal-body">
                There is something wrong. please try again.
            </div>
            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * DialogIconedDanger -->
<!-- DialogIconedDanger -->
<div class="modal fade dialogbox" id="DialogIconedEmpty" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-icon text-danger">
                <ion-icon name="close-circle"></ion-icon>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Message</h5>
            </div>
            <div class="modal-body">
                There is no item at the moment.
            </div>
            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * DialogIconedDanger -->
<!-- DialogIconedDanger -->
<div class="modal fade dialogbox" id="DialogIconedDeclined" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-icon text-danger">
                <ion-icon name="close-circle"></ion-icon>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Message</h5>
            </div>
            <div class="modal-body">
                This transaction has already been cancelled by you
            </div>
            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * DialogIconedDanger -->
<!-- DialogIconedSuccess -->
<div class="modal fade dialogbox" id="DialogIconedCompleted" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-icon text-success">
                <ion-icon name="checkmark-circle"></ion-icon>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Success</h5>
            </div>
            <div class="modal-body">
                This transaction has been completed and closed
            </div>
            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * DialogIconedSuccess -->

<script>
    var uri = "http://medicall-002-site7.ctempurl.com/api/ahhtapi";
    //var uri = "http://localhost:49244/api/ahhtapi";

    display();
    function display() {
        var requestOptions = {
            method: 'GET',
            redirect: 'follow'
        };

        var _query = localStorage.getItem('phone');

        fetch(uri + "/getbuyertransactions?phone=" + _query, requestOptions)
            .then(response => {
                if (!response.ok) {
                    $("#DialogIconedDanger").modal('show');
                }
                console.log(response);
                return response.json();
            })
            .then(result => fetchData(result))
            .catch(error => $("#DialogIconedDanger").modal('show'));
    }

    function fetchData(data) {
        console.log(data);
        if (data.length != 0) {
            var htm = "";
            var inprog_htm = "";
            var canceled_htm = "";
            var complete_htm = "";
            $("#overview2 .transactions").html(htm);
            $("#inprogress .transactions").html(htm);
            $("#canceled1 .transactions").html(htm);
            $("#completed .transactions").html(htm);

            data.forEach(item => {
                var status = "";
                if (item.transactionStatus == "warning") {
                    status = "IN PROGRESS";

                    inprog_htm += "<a href='/buyer/transactiondetails?id=" + item.id + "' class='item'>"
                    inprog_htm += "           <div class='detail'>"

                    inprog_htm += "               <div>"
                    inprog_htm += "                    <strong>Transaction Number: <br />  <h2 class='text-primary'>" + item.transactionCode + "</h2></strong>"

                    inprog_htm += "                    <p><strong>Goods/Items: <br />" + item.transactionDescription + "</p>"
                    inprog_htm += "                    <p>" + item.transactionDate + "</p>"
                    inprog_htm += "                </div>"
                    inprog_htm += "            </div> "
                    inprog_htm += "             <div class='right'>"
                    inprog_htm += "                <span class='badge badge-" + item.transactionStatus + "'> " + status + "</span>"
                    inprog_htm += "        </div>"
                    inprog_htm += "        </a>";


                }
                else {
                    if (item.transactionStatus == "danger") {
                        status = "CANCELED";

                        canceled_htm += "<a href='/buyer/transactiondetails?id=" + item.id + "' class='item'>"
                        canceled_htm += "           <div class='detail'>"

                        canceled_htm += "               <div>"
                        canceled_htm += "                    <strong>Transaction Number: <br />  <h2 class='text-primary'>" + item.transactionCode + "</h2></strong>"

                        canceled_htm += "                   <p><strong>Goods/Items: <br />" + item.transactionDescription + "</p>"
                        canceled_htm += "                    <p>" + item.transactionDate + "</p>"
                        canceled_htm += "                </div>"
                        canceled_htm += "            </div> "
                        canceled_htm += "             <div class='right'>"
                        canceled_htm += "                <span class='badge badge-" + item.transactionStatus + "'> " + status + "</span>"
                        canceled_htm += "        </div>"
                        canceled_htm += "        </a>";


                    }
                    else {
                        if (item.transactionStatus == "success") {
                            status = "COMPLETED";

                            complete_htm += "<a href='/buyer/transactiondetails?id=" + item.id + "' class='item'>"
                            complete_htm += "           <div class='detail'>"

                            complete_htm += "               <div>"
                            complete_htm += "                    <strong>Transaction Number: <br />  <h2 class='text-primary'>" + item.transactionCode + "</h2></strong>"

                            complete_htm += "                    <p><strong>Goods/Items: <br />" + item.transactionDescription + "</p>"
                            complete_htm += "                    <p>" + item.transactionDate + "</p>"
                            complete_htm += "                </div>"
                            complete_htm += "            </div> "
                            complete_htm += "             <div class='right'>"
                            complete_htm += "                <span class='badge badge-" + item.transactionStatus + "'> " + status + "</span>"
                            complete_htm += "        </div>"
                            complete_htm += "        </a>";
                        }
                    }
                }

                if (status == "COMPLETED") {
                    htm += "<a href='/buyer/transactiondetails?id=" + item.id + "' class='item'>"
                    htm += "           <div class='detail'>"

                    htm += "               <div>"
                    htm += "                    <strong>Transaction Number: <br />  <h2 class='text-primary'>" + item.transactionCode + "</h2></strong>"

                    htm += "                    <p><strong>Goods/Items: <br />" + item.transactionDescription + "</p>"
                    htm += "                    <p>" + item.transactionDate + "</p>"
                    htm += "                </div>"
                    htm += "            </div> "
                    htm += "             <div class='right'>"
                    htm += "                <span class='badge badge-" + item.transactionStatus + "'> " + status + "</span>"
                    htm += "        </div>"
                    htm += "        </a>";
                } else {
                    if (status == "CANCELED") {
                        htm += "<a href='/buyer/transactiondetails?id=" + item.id + "' class='item'>"
                        htm += "           <div class='detail'>"

                        htm += "               <div>"
                        htm += "                    <strong>Transaction Number: <br />  <h2 class='text-primary'>" + item.transactionCode + "</h2></strong>"

                        htm += "                    <p><strong>Goods/Items: <br />" + item.transactionDescription + "</p>"
                        htm += "                    <p>" + item.transactionDate + "</p>"
                        htm += "                </div>"
                        htm += "            </div> "
                        htm += "             <div class='right'>"
                        htm += "                <span class='badge badge-" + item.transactionStatus + "'> " + status + "</span>"
                        htm += "        </div>"
                        htm += "        </a>";
                    } else {
                        htm += "<a href='/buyer/transactiondetails?id=" + item.id + "' class='item'>"
                        htm += "           <div class='detail'>"

                        htm += "               <div>"
                        htm += "                    <strong>Transaction Number: <br />  <h2 class='text-primary'>" + item.transactionCode + "</h2></strong>"

                        htm += "                    <p><strong>Goods/Items: <br />" + item.transactionDescription + "</p>"
                        htm += "                    <p>" + item.transactionDate + "</p>"
                        htm += "                </div>"
                        htm += "            </div> "
                        htm += "             <div class='right'>"
                        htm += "                <span class='badge badge-" + item.transactionStatus + "'> " + status + "</span>"
                        htm += "        </div>"
                        htm += "        </a>";
                    }
                }
            });
            $("#veriSpinner").addClass('hidden');
            $("#overview2 .transactions").append(htm);
            $("#canceled1 .transactions").append(canceled_htm);
            $("#inprogress .transactions").append(inprog_htm);
            $("#completed .transactions").append(complete_htm);
        } else {
            $("#DialogIconedEmpty").modal('show');
            $("#veriSpinner").addClass('hidden');
        }
    }

</script>