@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- App Capsule -->
<div id="appCapsule">


    <div class="section mt-2 text-center">
        <div class="card">
            <div class="card-body pt-3 pb-3">
                <img src="assets/img/apple-touch-icon.png" alt="image" class="imaged w-50 ">
                <h2 class="mt-2">Frequently Asked <br> Questions</h2>
            </div>
        </div>
    </div>

    <div class="section mt-2">
        <div class="card overflow-hidden">
            <div class="card-body p-0">
                <div class="accordion border-0" id="accordionExample1">

                    <div class="item">
                        <div class="accordion-header">
                            <a href="#" style="font-weight:bold; text-align:left" class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion1">
                                What is Brigho?
                            </a>
                        </div>
                        <div id="accordion1" class="accordion-body collapse" data-parent="#accordionExample1">
                            <div class="accordion-content">
                                <p>
                                    Brigho is a financial intermediary app that is owned by Brigho and HadRelTah Limited (B&H).
                                    B&H is a registered company under Nigeria Law with the Corporate Affairs Commission with registration
                                    number <span class="color-facebook" RC1760904</span>. Among other things, we are licensed to carry out the functions of a financial
                                    intermediary between a Seller and a Buyer who have agreed between/among themselves to carry out a
                                    business transaction. Being licensed enables us to be sued by our clients in cases of breach of
                                    contracts between us and our clients. We therefore do not take lightly transactions we enter into
                                    via our Brigho app.
                                </p>
                                <p>
                                    We function as a middleman between a Buyer(s) and Seller(s). Brigho plays the role of an intermediary in a distribution or transaction chain and we facilitate interaction between the involved parties. We specialize in performing crucial activities involved in the purchase and sale of goods in their flow from producers to the ultimate buyers. In pursuance of our Memorandum of Association (MoA), we own and operate the app Brigho which facilitates the achievements with our MoA.

                                </p>
                                <p>
                                    We are not a haulage company and under no circumstances do not handle goods/items on behalf of any Buyer or Seller.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="accordion-header">
                            <a href="#" style="font-weight:bold; text-align:left" class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion2">
                                What if I do not like the Items the Seller sent to me?
                            </a>
                        </div>
                        <div id="accordion2" class="accordion-body collapse" data-parent="#accordionExample1">
                            <div class="accordion-content">
                                <p>
                                    As a Buyer, it might be expected to once in a while receive items that you are not comfortable with because they do not meet the standard you were expecting. To this Brigho has no control over the quality of goods/items that Sellers send. It is expected that upon receiving the items, you inspect them and if they do not meet your standard, you simply return the items by declining the transaction via our Brigho app.
                                </p>

                                <p>
                                    Once you do this, Brigho will refund you the total cost of the agreed price of the goods/items less our Commission and the cost of transportation/Shipping or sending goods.
                                </p>

                                <p>
                                    For the Seller, as Brigho is not a logistic company, it is expected that your shipping/transportation agent ensures that the Buyer returns the goods/items in the best acceptable way without damage to your goods/items. Kindly note that Brigho will not take liability for any damaged returned goods/items.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="accordion-header">
                            <a href="#" style="font-weight:bold; text-align:left" class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion3">
                                What if I enter a wrong Bank account detail?
                            </a>
                        </div>
                        <div id="accordion3" class="accordion-body collapse" data-parent="#accordionExample1">
                            <div class="accordion-content">
                                <p>
                                    Brigho will always ensure that the Bank account details correspond with what you and the seller agree. However, in cases where there is an error(s) in these details, Brigho get in contact with Buyer or Seller to cancel the transaction and initiate a new transaction with the correct and accurate details. Only after this would Brigho send monies to any account
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="accordion-header">
                            <a href="#" style="font-weight:bold; text-align:left" class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion4">
                                What happens if the Buyer collects the good without entering the Delivery Code?
                            </a>
                        </div>
                        <div id="accordion4" class="accordion-body collapse" data-parent="#accordionExample1">
                            <div class="accordion-content">
                                <p>
                                    Unfortunately, Brigho has no control over the process of Delivery/Shipping/Transportation and will only release money to the Seller when the Buyer has activated the Delivery Code. It is the sole responsibility of the Buyer and Seller to ensure the delivery code is entered into the Brigho app. More specifically, it is expected that the Seller must ensure he receives a confirmation from Brigho as regards the use of the delivery code before releasing the goods/items to the Buyer. We expect the Seller to ensure this is done before the logistic personnel releases the goods/item to the Buyer
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="accordion-header">
                            <a href="#" style="font-weight:bold; text-align:left" class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion5">
                                What happens if the Buyer does not like the items and decides to cancel the transaction?
                            </a>
                        </div>
                        <div id="accordion5" class="accordion-body collapse" data-parent="#accordionExample1">
                            <div class="accordion-content">
                                <p>
                                    We would not encourage anyone to pay for a good/item he or she is not satisfied with. Hence, if dissatisfied with a goods/items being purchased, kindly decline the transaction via the Brigho app, and leave the good/item with the Seller’s agent. Brigho will then ensure you get your refunded into your indicated Bank account less the cost of the initial Delivery/Shipping/Transportation, an additional 50% of the cost of Delivery/Shipping/Transportation which both go to the Seller and our commission on that transaction. Kindly note that on such occasion as a dissatisfied good/item which you do not want, ensure you do not use the accept the transaction via the app. If you do this, based on our ToC&U, we will be forced to make full payment to the Seller for the transaction.
                                </p>
                                <p>
                                    The Seller who also pays 50% of the cost of Delivery/Shipping/Transportation, adds the 50% of the Delivery/Shipping/Transportation paid by the Seller and then makes payment to the logistic company to return to goods/items back to him.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="accordion-header">
                            <a href="#" style="font-weight:bold; text-align:left" class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion6">
                                Why do I have to pay an extra 50% of the cost of Delivery / Shipping /Transportation in addition to my initial payment for Delivery/Shipping/Transportation
                            </a>
                        </div>
                        <div id="accordion6" class="accordion-body collapse" data-parent="#accordionExample1">
                            <div class="accordion-content">
                                The initial payment for Delivery/Shipping/Transportation is a refund to the Seller for him sending the goods to you. Remember, The Seller uses his own funds to cater for this initial expense. However, in case you want to return the item, the cost of returning the good/item is being shared 50-50 between the buyer and the seller. Thus, we try to discourage the Seller from sending sub standard goods to the Seller and ensuring the Seller receives the best possible good thus the issue of a refund is very unlikely.
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="accordion-header">
                            <a href="#" style="font-weight:bold; text-align:left" class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion6">
                                Does Brigho take part payment or installmental payment?
                            </a>
                        </div>
                        <div id="accordion6" class="accordion-body collapse" data-parent="#accordionExample1">
                            <div class="accordion-content">
                                Unfortunately, Brigho does not deal with part payment for goods. However, should a Buyer and Seller agree to a part payment arrangement, Brigho will only process the agreed amount of money sent to us by the Buyer and agreed to by the Seller.

                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="accordion-header">
                            <a href="#" style="font-weight:bold; text-align:left" class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion6">
                                Where will I go to pick up my goods/items after payment to Brigho has been made?
                            </a>
                        </div>
                        <div id="accordion6" class="accordion-body collapse" data-parent="#accordionExample1">
                            <div class="accordion-content">
                                Brigho is not a logistic company and is not allowed under Nigerian Law to carry out shipping/delivery/transportation services. Thus, it is expected that the Seller and Buyer would have agreed on their means of shipping/delivery/transportation as well as their point of collection before payment is made via the Brigho App.
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="accordion-header">
                            <a href="#" style="font-weight:bold; text-align:left" class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion6">
                                What if I have paid for the goods/items, collected them and decide I do not want the goods/items after leaving the collection point?
                            </a>
                        </div>
                        <div id="accordion6" class="accordion-body collapse" data-parent="#accordionExample1">
                            <div class="accordion-content">
                                Kindly note that once payment has been made to the Seller for an item/good, Brigho no longer has control over the transaction as it is now classified a completed transaction. To this end, you must be certain you want the item/good before verifying the delivery number (on the Brigho App) and picking up the item from the Seller’s agent. If you do not like the item(s) at point of collection, you must cancel or decline the transaction without picking them up. The moment you verify the delivery number, we are compelled by our ToC&U to make payment to the Seller irrespective of what transpires afterwards.
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="section mt-3 mb-3">
        <div class="card bg-primary">
            <div class="card-body text-center">
                <h5 class="card-title">Still have question?</h5>
                <p class="card-text">
                    Feel free to contact us
                </p>
                <a href="/contact" class="btn btn-dark"><ion-icon name="mail-open-outline"></ion-icon> Contact</a>
            </div>
        </div>
    </div>

</div>
<!-- * App Capsule -->